
.formDiv{
  width:60%;
  margin: 0 auto;
  float:none;
}

#submit {
    width:127px;
    height:38px;
    border:1px solid #9D9D9D;
    margin-top:20px;
    cursor:pointer;
		background-color:#E1E1E1;
		color: black;
}

#submit:hover {
	background-color:#D4D4D4;
	font-weight:bolder;
}

.phpError {
	color: red;
	font-size: 12px;
}
